* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
}

#App {
  font-family: arial;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100vh;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }

  #App {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }
}
