.educationForm {
  background-color: skyblue;
  height: 80vh;
  max-height: 80vh;
  overflow: scroll;
  width: calc(100vw / 3);
}

.educationForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 40px;
}

.educationForm h2 {
  margin-bottom: 25px;
}

.educationForm input,
.educationForm button {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.educationForm textarea {
  margin-bottom: 10px;
  height: 50px;
  resize: none;
}
