.experienceForm {
  background-color: rgb(71, 187, 233);
  height: 80vh;
  max-height: 80vh;
  overflow: scroll;
  flex: 1;
  position: relative;
}

.experienceForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
}

.experienceForm h2 {
  margin-bottom: 25px;
}

.experienceForm input,
.experienceForm button {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.experienceForm textarea {
  margin-bottom: 10px;
  height: 50px;
  resize: none;
}

.experienceForm__completeMarker {
  color: rgb(148, 238, 14);
  position: absolute;
  font-size: 8rem;
  bottom: 3rem;
  right: 3rem;
  text-shadow: 2px 1px 4px rgb(114, 161, 43);
}

@media only screen and (max-width: 400px) {
  .experienceForm {
    margin-bottom: 20rem;
    height: auto;
    max-height: auto;
  }
}
